* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0a0c1b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Primera {
    display: flex;
    max-width: 1000px;
    background: #1c1938;
    border-radius: 15px;
    overflow: hidden;
    color: white;
}

.Texto1 {
    padding: 60px;
    flex: 1;
}

.Texto1 h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.Texto1 h1 span {
    color: #ab5ed8;
}

.Texto1 p {
    color: rgb(201, 201, 201);
    line-height: 1.6;
    margin-bottom: 40px;
}

.Estadistica {
    display: flex;
    gap: 40px;
}

.Estadistica h3 {
    margin: 0;
}

.Estadistica span {
    font-size: 12px;
    color: #9ca3af;
    letter-spacing: 1px;
}

.Imagen {
    flex: 1;
    background: linear-gradient(
        rgba(168,85,247,0.6),
        rgba(168,85,247,0.6)
        ),
        url(img/image2.jpg);
        background-size: cover;
        background-position: center;

}

@media (max-width: 768px) {
    body {
        height: auto;
        padding: 20px;
    }

    .Primera {
        flex-direction: column;
        max-width: 100%;
    }

    .Texto1 {
        padding: 30px;
        text-align: center;
    }

    .Texto1 h1 {
        font-size: 26px;
    }

    .Estadistica {
        justify-content: center;
        gap: 25px;
    }

    .Imagen {
        height: 220px;
    }
}